<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si ya se accede a public/ no reescribir de nuevo
    RewriteCond %{REQUEST_URI} !^/guia_academica/public/
    # Redirigir la raíz hacia public/
    RewriteRule ^$ public/ [L]

    # Enrutar cualquier otra petición hacia public/
    RewriteCond %{REQUEST_URI} !^/guia_academica/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) public/$1 [L]
</IfModule>

Options -Indexes
